.breadcrumb {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.breadcrumb--item:not(:last-of-type)::after {
  content: '/';
  margin: 0 10px;
}

.breadcrumb--item {
	text-transform: capitalize;
}