<h5>Criar/editar receita</h5>

<!-- TODO: colocar os ingredientes em readonly e só liberar pra editar se a pessoa clicar pra editar -->

<form>
  <mat-form-field class="input-field col s12">
    <mat-label for="nome" class="active">Nome</mat-label>
    <input
      matInput
      id="nome"
      name="nome"
      [placeholder]="receita.nome"
      [(ngModel)]="receita.nome"
      class="validate"
    />
  </mat-form-field>

  <mat-form-field class="input-field col s12">
    <mat-label for="ingredientes" class="active">Ingredientes</mat-label>
    <input
      matInput
      id="ingredientes"
      name="ingredientes"
      [(ngModel)]="receita.ingredientes[0].nome"
      class="validate"
    />
  </mat-form-field>

  <mat-form-field class="input-field col s12">
    <mat-label for="passos" class="active">Modo de preparo</mat-label>
    <textarea
      matInput
      name="passos"
      id="passos"
      [(ngModel)]="receita.passos.passo"
      class="validate"
    ></textarea>
  </mat-form-field>

  <mat-form-field class="input-field col s12">
    <mat-label for="dificuldade" class="active">Dificuldade</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="dificuldade" class="validate">
      <mat-option *ngFor="let dificuldade of dificuldades" value="dificuldade">
        {{ dificuldade }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="save()">Salvar</button>
</form>
