<div class="container">
  <div class="barra-inicial">
    <h2>Receitas</h2>
    <input
      class="rounded"
      placeholder="Procure por ingrediente"
      type="search"
      autofocus
      (keyup)="atualizaLista($event.target.value)"
    />
  </div>
  <div class="items-grid">
    <mat-card *ngFor="let receita of filteredReceitas">
      <mat-card-title>
        <a routerLink="{{ receita.id }}">
          {{ receita.nome }}
        </a>
      </mat-card-title>
      <mat-card-subtitle>
        {{ receita.dificuldade }}
      </mat-card-subtitle>
      <img
        mat-card-image
        src="../../assets/img/brigadier-842642_640.jpg"
        alt="foto de brigadeiros com confetes coloridos em um prato"
      />
    </mat-card>
  </div>
</div>
