mat-card {
  display: flex;
  flex-direction: column;
  width: 300px;
}

mat-card-title {
  height: 50px;
  line-height: 24px;
}

.barra-inicial {
  display: flex;
  justify-content: space-between;
}

.items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}
